/* Collection */

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection:hover img {
    transition: 0.4s;
    opacity: 0.8;
}


.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-transform: capitalize;
}

.collection:hover p {
    transition: 0.4s;
    color: black;
}


.collection-text {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: auto;
    padding-left: 120px;
}



.collection-text p:nth-child(1) {
    color: black;
    position: absolute;
    width: 100%;
    text-align: left;
    height: 90%;
    font-size: 50px;
    text-transform: none;
    padding-left: 120px;
    padding-right: 50px;
    background-color: hsla(120, 100%, 50%, 0);
}

.collection-text p:nth-child(2) {
    color: black;
    width: 100%;
    text-align: left;
    font-size: 25px;
    padding-left: 120px;
    padding-right: 50px;
    height: 60%;
    background-color: none;
    background-color: hsla(120, 100%, 50%, 0);
}



.collection-text-about {
    position: relative;
    font-size: 2px;
}


.collection:nth-child(3) {
    grid-column: span 2;

}

.collection:nth-child(1) {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.h-foote-home {
    height: 10px;
    border-width: 0;

    background-color: rgb(255, 255, 255)
}