@import url(/CSS/Colors.css);



/* Colors nav bar */


.topnav {
  position: relative;
  overflow: hidden;
  height: 85px;
  background-color: var(--background-navbar-color);
}

.topnav a {
  float: left;
  color: #000000;
  padding: 33px 25px 25px 33px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  transition: 0.3s;
  opacity: 0.5;
}
.pocitions{
  padding-left : 20px;
  height: 100%;
}
.topnav a.active {
  font-size: 35px;
  letter-spacing: 2.5px;
  
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;

}
.topnav-right a{
  padding-right: 55px;
  padding-left: 55px;
}


.container i{
  width: 34px;
  height: 34px;
}

.icon-badge-container {
    position:relative;
    width: 30px;
    height: 30px;
}

.fa-cart-shopping {
    font-size: 32px;
    position: relative;
}
.fa-user{
  font-size: 32px;
}
.fa-magnifying-glass{
  font-size: 32px;
}
.icon-text {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align:center;
    padding-top: 5px;
    width:25px;
    height:25px;
    border-radius: 50%;
    position: absolute; /* changed */
    top: -15px; /* changed */
    left: 28px; /* changed */
}


/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}